body {
    color: bisque;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px #571301;
    padding: 20px;
    font-size: 32px;
    color: #e9bfb4;
}

    section {
        background: rgb(37, 37, 37);
        padding-bottom: 80px;
        padding-top: 80px;
        display: flex;
        justify-content: center;
    }
     .chamada-texto {
        margin-right: 5%;
     }
